* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121520;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    transition: 1s;
    /* background: linear-gradient(#0e1c26, #2a454b, #294861); */
}

header {
    height: 15vh;

}

#logo {
    width: 50vw;
    height: 90%;
    /* background-color: aqua; */
    margin: auto;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    font-family: point-panther;
    color: #676e8a;
    transition: 600ms;
    text-shadow: 0px 0px 10px #00509d;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: point-panther;
    src: url(./fonts/point_panther/point-panther-point-panther-regular-400.ttf);
}



main {
    margin-top: 2rem;
    position: absolute;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;

}

.select-container {
    width: 10vw;
    margin-right: 2.5rem;
}

/* container princaple of the content  */
.text-containr {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 60vh; */
    width: 70%;
    background-color: #232530;
    border-radius: 15px;
    transition: 500ms;
    justify-self: center;
    align-self: center;
}

/* the text above the text area  */
.quoteDisplay {
    width: 90%;
    padding: .5rem;
    padding-left: 1rem;
    margin-top: 20px;
    font-size: 2rem;
    color: #676e8a;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
    word-spacing: .5rem;
    /* text-align: center; */
}

/* style the textarea  */
#textInput {
    resize: none;
    width: 90%;
    transition: 300ms;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto',sans-serif;
    background-color: transparent;
    border: 1px solid #00509d;
    border-radius: 5px;
    padding: .5rem 1rem;
    justify-self: flex-end;
    background-color: #313441;
    
}

/* when the textarea is focused the style changes  */
#textInput:focus {
    outline: none;
    background-color: #676e8a;
    border-radius: 10px;
    border: 2px solid #5f84ab;
    box-shadow: 0px 0px 15px #00509d;
}

.timer-container {
    display: inline-block;
    height: 50vh;
    width: 15vw;
    justify-self: flex-end;
    background-color: #232530;
    border-radius: 15px;
    margin-left: 1rem;

}

.timer-container p {
    width: 100%;
    text-align: center;
    /* height: 40px; */
    margin: auto;
    color: white;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.counter {
    text-align: center;
    width: 100%;
    height: 40px;
    margin: auto;
    color: white;
    font-size: 2.5rem;
    padding-top: 2rem;

}
.submits{
    margin: 5rem 0px 2.5rem 0px;
}
.correct{
    color: green;
}
.incorrect{
    color: rgb(234, 24, 24);
    text-decoration: underline;
}
.reset{
    margin: 1.5rem;
}
.reset span{

    transition: 500ms;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}
.reset span:hover{
    color: white;
    /* background-color: white; */
    transform: scale(1.15);
    text-shadow: 2px 2px 20px  white;

}